<!DOCTYPE html>
<html>
<head>
  <title>PpiSoporte</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body>
	<!---
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        			<span class="sr-only">PPI SOPORTE</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      		<a class="navbar-brand" href="#">PPI SOPORTE</a>
    		</div>
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li class="active"><%= link_to 'Consultar requerimientos incidentes o problemas', requests_path(level: 1) %></li>
        		<li><a href="#">Link</a></li>        
      		</ul>      
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href="#">Link</a></li>
        		<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>          	
        	</li>
      		</ul>
    		</div>
		</div>
	</nav>
	-->
	<% if flash[:notice] %>	
		<%= flash[:notice] %>
	<% end %>
	<% if flash[:alert] %>
		<%= flash[:alert] %>
	<% end %>
	
	<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete if user_signed_in? %><br>
	<%= yield %>
	<%= javascript_include_tag "application" %>
</body>
</html>
