<!DOCTYPE html>
<html>
<head>
  <title>PpiSoporte</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
  <%= csrf_meta_tags %>
  	
  	<script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script> var slide = angular.module("chat", ["firebase"]); </script>
</head>
<body ng-app="chat">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        			<span class="sr-only">PPI SOPORTE</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      		<a class="navbar-brand" href="#">PPI SOPORTE</a>
    		</div>
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<% if current_user != nil %>
      		<ul class="nav navbar-nav">
        		
        		<li>
        	<% if current_user.has_role? :admin %>						
						<%= link_to 'Consultar requerimientos, incidentes o problemas', requests_path %>
					<% elsif current_user.has_role? :admin1ernivel %>
						<%= link_to 'Consultar requerimientos, incidentes o problemas de nivel 1', requests_path(level: 1) %> <br>
					<% elsif current_user.has_role? :admin2donivel %>
						<%= link_to 'Consultar requerimientos, incidentes o problemas de nivel 2', requests_path(level: 2) %> <br>
					<% else %>
						<%= link_to 'Consultar requerimientos, incidentes o problemas', requests_path(level: 3) %>
					<% end %>
          <li>
            <%= link_to 'BD de conocimiento' %>
          </li>
          <li>
            <%= link_to 'FAQ' %>
          </li>
				</li>       		        
      		</ul>

      		<ul class="nav navbar-nav navbar-right">        		
        		<li class="dropdown">
          			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.email%> <b class="caret"></b></a>
          			<ul class="dropdown-menu">            			
            			<li><a href="#">Mi Cuenta<span class="glyphicon glyphicon-user" style="margin-left:5px;"></span></a></li>
            			<li class="divider"></li>
            	     <li>
                    <%= link_to destroy_user_session_path, method: :delete  do %>
                    Cerrar sesión<span class="glyphicon glyphicon-off" style="margin-left:5px;"></span>
                    <% end %>
                  </li>
          			</ul>          	
        		</li>
      		</ul>
      		<% end %>
    		</div>
		</div>
	</nav>


	<% if flash[:notice] %>	
		<%= flash[:notice] %>
	<% end %>
	<% if flash[:alert] %>
		<%= flash[:alert] %>
	<% end %>
	
 
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  
	<%= yield %>
	<script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-3d.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>


</body>
</html>
